<div class="about-main">
  <ul>
    <li>
      <h2>KeisanAppとは</h2>
      <p>
        webアプリサイトです。
        運動療法や栄養状況などの計算に便利な機能を提供するサイトです。
      </p>
    </li>
    <!-- <li>
      <h3>作ったひと</h3>
      <p>
        <button type="button" onclick="location.href='https://twitter.com/ulldull'" >
          うるだる
        </button>
      </p>
    </li> -->
    <li>
      <h3>作ったもの</h3>
      <p>KeisanApp</p>
        <a href="https://keisanapp0429.herokuapp.com"><img src ="/keisan.png"></a>
      <p>街のお店やさん〜楽しく算数ドリル</p>
        <a href="https://unityroom.com/games/aikido"><img src ="/sansuu1.png"></a>









    </li>




  </ul>
</div>
