<div class="about-main">
  <ul>
    <li>
      <h2>KeisanAppとは</h2>
      <p>
        webアプリサイトです。
        運動療法や栄養状況などの計算に便利な機能を提供するサイトです。
      </p>
    </li>
    <li>
      <h3>作ったひと</h3>
      <p>
        <button type="button" onclick="https://twitter.com/ulldull" >
          うるだる
        </button>
      </p>
    </li>




  </ul>
</div>
