<head>
  <title>Home</title>
</head>

  <div class=top-main>
    <div class =top-message>
      <h2>
        健康は、計算で作れる
      </h2>
      <p>
        日々の暮らしを計算してみよう
      </p>
    </div>
    <div class = buttons>
    <ul>
      <li>
        <button type="button" onclick="location.href='bmi.html'">
          BMI(肥満度測定)
        </button>
      </li>
      <li>
        <button type="button" onclick="location.href='karb.html'">
          カルボーネン(目標心拍数)
        </button>
      </li>
    </ul>
    </div>
  </div>
