// Place all the styles related to the taisha controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.taisha-main {
  padding: 200px 0 100px;
  text-align: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: auto;
  min-height: 100%;
  color: #002525;
  background-color: #ccffff;
  background-repeat: no-repeat;
  background-position: center 50%;
  background-size: cover;
}

.taisha-message {
  position: relative;
}

.taisha-main h2 {
  font-size: 50px;
  font-weight: 500;
  line-height: 1.3;
  -webkit-font-smoothing: antialiased;
  margin-bottom: 20px;
  text-shadow: 3px 3px 3px #ddd;
}

.taisha-main p {
  font-size: 20px;
  text-shadow: 2px 2px 2px #ddd;
}


.taisha-main li{
  padding: 3px;
}

.old{
  width: 60px;
  height: 40px
}
.taisha-main input {
  background-color: #f5ffff;
}
.box{
  width: 100px;
  height: 40px;
}

.sousin{
  padding: 8px;
}
.sousin input{
  font-size: 20px;
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: #000200;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
  background-color: white;
  border: solid 2px #0f0f00;
  border-radius: 30px;
  transition: .1s;
}

.sousin input:active  {
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
  border-bottom: none;
}


.bar{
  width: auto;
  height: auto;
  padding: 100px 100px;
}
.bar input{
  width: 20px;
  height: 15px;
  position: relative;
  margin-left: 15px;
}
.bar label{
  width: 40px;
  height: 40px;
  position: relative;
  margin-left: 0px;
}
